body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

.weather-app {
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  background: white;
  border-radius: 5px;
  padding: 30px;
  max-width: 600px;
  margin: 45px auto;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

footer {
  margin-top: 40px;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-result {
  background: #885df1;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 15px 20px;
  color: white;
}

.weather-details strong {
  color: #f65282;
}
.weather-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-icon {
  font-size: 88px;
  height: 88px;
}

.weather-app-unit {
  margin-top: 6px;
}

.temperature-container {
  display: flex;
  font-size: 25px;
}
.weather-app-temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}
.cityname {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #f65282;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
